
$primary: #af4706;   
$secondary: #086469; 
$accent: #aa7a0a; 

body{
    background-image: url(https://static.vecteezy.com/system/resources/previews/000/470/964/original/animal-track-seamless-pattern-vector.jpg);
    background-size: cover;     
  background-position: center; 
  background-repeat: repeat; 
  text-align: center;
}
h1{
    background-color: $primary;
    margin: auto;
    border: #ffd166;
    border-style: solid;
    padding: 30px;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
main{
    margin: auto;
    text-align:center;
    background-color:$secondary
}
h2{
    background-color: #ffd166;
    border: #ff914d;
    border-style: solid;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p{
    background-color: #3baf06;
}
form{
    text-align: left;
    margin: auto;
    border-style: solid;
    padding: 30px;
    font-family:sans-serif;
    font-weight: bold;

    

}